/* Light DOM styles for <carousel-widget> slotted content. */

carousel-widget {
  --figure-grid: 'media' 'copy' max-content / 1fr;
  block-size: 100dvh;
}

/* Scroll snap container and items. */

carousel-widget :is(ol, li) {
  inline-size: 100vw;
}

carousel-widget ol {
  block-size: calc(100dvh - var(--button-size));
  display: grid;
  grid: 1fr / auto-flow;
  margin: 0;  
  overflow: scroll hidden;
  padding: 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

carousel-widget ol::-webkit-scrollbar {
  display: none;
}

carousel-widget li {
  scroll-snap-align: start;
}

/* Slideshow contents. */

carousel-widget figure {
  block-size: 100%;
  display: grid;
  gap: var(--figure-gap);
  grid: var(--figure-grid);
}

carousel-widget [data-images] {
  grid-area: media;
}

carousel-widget figcaption {
  grid-area: copy;
  place-self: var(--figcaption-place-self);
}

@media (orientation: landscape) {
  carousel-widget {
    --figcaption-place-self: center;
    --figure-grid: 'media copy .' / 2fr 1fr 0;
    --figure-gap: 2em;
  }

  carousel-widget figure,
  carousel-widget [data-orientation] {
    max-block-size: calc(100dvh - var(--button-size));
  }

  carousel-widget figcaption {
    padding: 0;
  }
}
