/* Home page overrides. */
.home {
  --main-max-inline-size: 34em;
}

/* About section profile photo. */
[id='about'] img {
  block-size: 6em;
  border-radius: 100%;
  inline-size: 6em;
}

[id='about'] p:has(img) {
  margin-block: 2em;
  text-align: center;
}

/* The 'contact' classname is set on a <ul> element. */
.contact {
  display: flex;
  gap: 0 1em;
  list-style: none;
  padding: 0;
}
