.slideshow {
  --main-max-inline-size: none;
  --main-padding: 0;
}

.slideshow ol {
  list-style: none;
  padding: 0;
}

.slideshow dl {
  display: grid;
  font-size: .9em;
  gap: 0 .5em;
  grid: auto-flow / auto 1fr;
  margin-block: 1em;
  opacity: var(--text-opacity);
}

.slideshow dt::after {
  content: ':';
}

.slideshow dd {
  margin: 0;
}

.slideshow figcaption {
  max-inline-size: 36em;
}

/* Images container. */
[data-images] {
  display: grid;
  gap: 1em;
  grid: auto-flow / 1fr;
  place-items: center;
}

[data-images='2'] {
  inline-size: 50%;
  place-self: center;
}
