.slideshow {
  --figcaption-max-block-size: 50dvh;
  --figure-grid: 'images' 'copy' / 1fr;
  --img-max-block-size: min(800px, 100vw);
  --main-max-inline-size: none;
  --main-padding: 0;
}

@media (orientation: landscape) {
  .slideshow {
    --figcaption-max-block-size: 100dvh;
    --figcaption-padding-inline: 0;
    --figcaption-place-self: center;
    --figure-gap: var(--gap);
    --figure-grid: '. images copy .' / var(--button-size) 2fr 1fr var(--button-size);
    --img-max-block-size: 100dvh;
    --img-max-inline-size: 100vh;
    --item-display: grid;
  }
}

.slideshow ol {
  list-style: none;
  padding: 0;
}

.slideshow li {
  display: var(--item-display);
}

.slideshow figure {
  display: grid;
  gap: var(--figure-gap);
  grid: var(--figure-grid);
}

.slideshow figcaption {
  grid-area: copy;
  max-block-size: var(--figcaption-max-block-size);
  max-inline-size: 36em;
  overflow: auto;
  padding-block: var(--gap) var(--button-size);
  padding-inline: var(--figcaption-padding-inline, var(--gap));
  place-self: var(--figcaption-place-self);
  scrollbar-width: none;
}

.slideshow figcaption::-webkit-scrollbar {
  display: none;
}

/* Images container. */
[data-images] {
  display: grid;
  gap: var(--gap);
  grid: auto-flow / 1fr;
  grid-area: images;
  place-items: center;
}

[data-images='2'] {
  inline-size: 50%;
  place-self: center;
}

.slideshow img {
  max-block-size: var(--img-max-block-size);
  max-inline-size: var(--img-max-inline-size);
  object-fit: contain;
}

.slideshow dl {
  display: grid;
  font-size: .9em;
  gap: 0 .5em;
  grid: auto-flow / auto 1fr;
  margin-block: 1em;
  opacity: var(--text-opacity);
}

.slideshow dt::after {
  content: ':';
}

.slideshow dd {
  margin: 0;
}
