<ul class="contact" role="list">
{% for link in contact %}
  {% if link.enabled %}
  <li class="contact__item">
    <a aria-label="{{ link.label }}"
       class="contact__link"
       href="{{ link.href }}"
       title="{{ link.label }}">
      <svg aria-hidden="true" class="icon" viewbox="0 0 24 24">
        <path d="{{ icons[link.icon] }}">
      </svg>
    </a>
  </li>
  {% endif %}
{% endfor %}
</ul>