<ul class="contact">
{% for link in contact -%}
  {%- if link.enabled %}
  <li>
    <a aria-label="{{ link.label }}"
       class="button"
       href="{{ link.href }}"
       title="{{ link.label }}">
      <svg aria-hidden="true" viewbox="0 0 24 24">
        <path d="{{ icons[link.icon] }}"/>
      </svg>
    </a>
  </li>
  {%- endif %}
{%- endfor %}
</ul>