{%- macro linkify(href, title, tabindex=null) %}
  <a
    href="{{ href }}"
    title="View {{ title }} (opens in new window)"
    target="_blank"
    rel="noopener"
    {%- if tabindex %} tabindex="{{ tabindex }}"{% endif %}>
    {{- caller() -}}
  </a>
{% endmacro -%}

{%- macro githubify(list, repo) %}
  {%- set list -%}
    {%- for item in list -%}
      {% if loop.last %}and {% endif %}{{ item }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}
  {%- endset -%}
  {%- set label = "Made with " + list + " (View code on GitHub)" -%}
  <a
    aria-label="{{ label }}"
    class="repo"
    href="{{ repo }}"
    rel="noopener"
    target="_blank"
    title="{{ label }}">
    <svg aria-hidden="true" viewbox="0 0 24 24">
      <path d="{{ icons['github'] }}"/>
    </svg>
  </a>
{% endmacro -%}

<ul class="projects" role="list">
{% for project in projects -%}
  <li>
    <figure>
      {%- call linkify(project.url, project.heading, -1) -%}
        <img src="/img/{{ project.img }}" alt="">
      {%- endcall -%}
      <figcaption>
        <h3>
          {%- call linkify(project.url, project.heading) -%}
            {{- project.heading -}}
          {%- endcall -%}
        </h3>
        <p>{{ project.copy }}</p>
        {%- if project.repo -%}
          {{ githubify(project.tech, project.repo) }}
        {%- endif -%}
      </figcaption>
    </figure>
  </li>
{%- endfor %}
</ul>