<section class="projects">
{%- for group in projects -%}
  <header>
    <h2>{{ group.title }}</h2>
    <p>{{ group.description }}</p>
  </header>

  <ul>
  {%- for project in group.projects -%}
    <li>
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
      <p>
        {{ project.description }}
        {%- if project.repo %}<br>
        <a
          aria-label="GitHub repository for {{ project.title }}"
          href="https://github.com/bgauslin/{{ project.repo }}"
          title="GitHub repository for {{ project.title }}">
          <svg
            aria-hidden="true"
            class="icon"
            viewbox="0 0 24 24">
            <path d="{{ icons['github'] }}">
          </svg>
        </a>
        {%- endif -%}
      </p>
      <img alt="" src="https://assets.gauslin.com/images/slides2023/{{ project.preview }}@small.webp">
    </li>
  {%- endfor -%}
  </ul>
{%- endfor -%}
</section>