<details>
  <summary>Lagniappe</summary>
  <pre aria-hidden="true">
         /^\              /^\              /^\              /^\
     _  /   \        _   /   \       _    /   \      _     /   \     _
    / \_     \_     / \_/     \_    / \_ /     \_   / \_  /     \_  / \_
   /    \      \   /    \       \  /    \        \ /    \         \/    \
__/      \      __/      \      __/      \      __/      \      __/      \
  xx      \    /xx\       \   xx  \       \ xx /  \       xx   /  \     xx
x XX     x \_ x XX \    x   x XX   \   x  x XX     \  x x XX _/    \  x XX
X XX-x-x-XxX--X XX-x--x-XxX-X XX-x---x-XxXX XX-x----x-XxX XX-x-----x- X XX
XxXX X XxX    XxXX X  XxX   XxXX X   XxX  XxXX X    XxX XxXX X     Xx XxXX
  XXxX __X      XXxX  __X     XXxX   __X    XXxX    __X   XXxX     __   XX
  XX            XX            XX            XX            XX            XX
__XX      ______XX      ______XX      ______XX      ______XX      ______XX
  </pre>
</details>