[data-player] {
  --button-size: 2.25rem;
  --padding: .25rem;
  --thumb-size: 1.25rem;

  background-color: var(--fill-1);
  border-radius: calc(var(--button-size) + (var(--padding) / 2));
  display: grid;
  gap: 0 var(--padding);
  grid: 'button elapsed percent duration' var(--button-size) / var(--button-size) 2.5rem 1fr 2.5rem;
  padding-block: var(--padding);
  padding-inline: var(--padding);
  place-items: center start;
}

/* [1] Size is 1px since 0px causes a slght delay on click. */
[data-player] > iframe {
  block-size: 1px; /* [1] */
  grid-area: iframe;
  inline-size: 1px; /* [1] */
  pointer-events: none;
  visibility: hidden;
}

/* Pause/Play button. */
[data-player] > button {
  appearance: none;
  aspect-ratio: 1;
  background-color: var(--fill-2);
  block-size: var(--button-size);
  border: none;
  border-radius: var(--button-size);
  color: var(--text-color);
  cursor: pointer;
  display: grid;
  grid-area: button;
  outline: none;
  padding: 0;
  place-content: center;
  transition: background-color var(--transition), color var(--transition), transform var(--transition);
}

button:focus-visible,
button[data-state='playing'] {
  background-color: var(--text-color);
  color: var(--fill-0);
}

@media (any-hover: hover) {
  button:hover {
    background-color: var(--text-color);
    color: var(--fill-0);
  }
  
  button:active {
    transform: scale(.8);
  }
}

button.touch {
  transform: scale(.8);
}

[data-player] > button > svg {
  block-size: auto;
  fill: currentColor;
  inline-size: 1.25rem;
  pointer-events: none;
}

/* Time indicators. */
[data-player] > :is(.elapsed, .duration) {
  font-size: .9em;
  justify-self: end;
}

[data-player] > .elapsed {
  grid-area: elapsed;
}

[data-player] > .duration {
  grid-area: duration;  
}

/* Playhead track and scrubber. */
[data-player] > input[type='range'] {
  --thumb-shift: -.4rem;
  --thumb-size: 1.2rem;
  --track-size: .5rem;

  appearance: none;
  background: var(--fill-3) linear-gradient(var(--text-color), var(--text-color)) 0 0 / var(--elapsed, 0) 100% no-repeat ;
  block-size: var(--track-size);
  border-radius: var(--track-size);
  cursor: pointer;
  grid-area: percent;
  inline-size: 100%;
  outline: none;
}

/* Playhead track. */
[data-player] > input[type='range']::-webkit-slider-runnable-track {
  appearance: none;
  background-color: transparent;
  block-size: var(--track-size);
  border: none;
  box-shadow: none;
}

/* Playhead scrubber. */
[data-player] > input[type='range']::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--text-color);
  block-size: var(--thumb-size);
  border: 1px solid var(--gray2);
  border-radius: var(--thumb-size);
  box-shadow: none;
  inline-size: var(--thumb-size);
  margin-block: var(--thumb-shift) auto;
}
