[data-player] {
  --button-size: 2rem;
  --padding: .5rem;
  --thumb-size: 1.25rem;

  background-color: var(--fill-2);
  border-radius: calc(var(--button-size) + (var(--padding) / 2));
  display: grid;
  gap: 0 .25rem;
  grid: 'button current percent duration' var(--button-size) / var(--button-size) 3em 1fr 3em;
  padding-block: var(--padding);
  padding-inline: var(--padding) 0;
  place-items: center start;
}

/* [1] Size is 1px since 0px causes a slght delay on click. */
[data-player] > iframe {
  block-size: 1px; /* [1] */
  grid-area: iframe;
  inline-size: 1px; /* [1] */
  pointer-events: none;
  visibility: hidden;
}

/* TODO: typical button styles */
[data-player] > button {
  appearance: none;
  aspect-ratio: 1;
  background-color: #eee; 
  block-size: var(--button-size);
  border: none;
  border-radius: var(--button-size);
  cursor: pointer;
  display: grid;
  grid-area: button;
  outline: none;
  padding: 0;
  place-content: center;
}

[data-player] > button > svg {
  block-size: auto;
  fill: currentColor;
  inline-size: 1.25rem;
  pointer-events: none;
}

[data-player] > .current {
  grid-area: current;
  justify-self: end;
}

[data-player] > input[type='range'] {
  accent-color: var(--text-color);
  cursor: pointer;
  grid-area: percent;
  inline-size: 100%;
}


[data-player] > .duration {
  grid-area: duration;
}
