/**
 * Light DOM styles for <carousel-widget> and its slotted content.
 */
carousel-widget {
  --figcaption-max-block-size: 50dvh;
  --figcaption-overflow: auto;
  --item-inline-size: 100vw;
  --item-margin-block: 0;
  --list-display: grid;
  --list-grid: 1fr / auto-flow;
  --list-margin-block: 0;
  --list-overflow: scroll hidden;
}

@media (orientation: landscape) {
  carousel-widget {
    --figcaption-max-block-size: 100dvh;
    --figcaption-place-self: center;
  }
}

carousel-widget {
  block-size: 100dvh;
}

carousel-widget ol {
  scroll-snap-type: x mandatory;
}

carousel-widget li {
  scroll-snap-align: start;
}

carousel-widget :is(ol, figcaption) {
  scrollbar-width: none;
}

carousel-widget :is(ol, figcaption)::-webkit-scrollbar {
  display: none;
}