/**
 * Light DOM styles for <slideshow-carousel> and its slotted content.
 */
slideshow-carousel {
  /* Container list. */
  --list-display: grid;
  --list-grid: 1fr / auto-flow;
  --list-overflow: scroll hidden;

  /* Container item. */
  --item-block-size: 100dvh;
  --item-inline-size: 100vw;
  --item-margin-block: 0;

  /* Slide and its images. */
  --figure-grid: auto auto var(--button-size) 0 / 0 var(--button-size) 1fr var(--button-size) 0;
  --images-grid-area: 1 / 1 / 1 / -1;

  /* Slide copy. */
  --figcaption-grid-area: 2 / 1 / 2 / -1;
  --figcaption-max-block-size: 50dvh;
  --figcaption-overflow: auto;
  --figcaption-padding-block: 0 calc(var(--button-size) + var(--gap));  

  /* Carousel shadow DOM. */
  --grid: var(--figure-grid);
  --counter-grid-area: 3 / 3 / 3 / -3;
  --prev-grid-area: 3 / 2 / 3 / 3;
  --next-grid-area: 3 / -2 / 3 / -3;
}

@media (orientation: landscape) {
  slideshow-carousel {
    /* Slide and its images. */
    --figure-grid: 1fr var(--button-size) / 0 var(--button-size) 1fr 3fr var(--button-size) 0;
    --images-grid-area: 1 / 4 / -1 / 5;
    
    /* Slide copy. */
    --figcaption-grid-area: 1 / 3 / -1 / 4;
    --figcaption-max-block-size: 100dvh;
    --figcaption-padding-block: var(--button-size);
    --figcaption-place-self: center;
    
    /* Carousel shadow DOM. */
    --counter-grid-area: 2 / 3 / 2 / -3;
    --prev-grid-area: 1 / 2 / -1 / 3;
    --next-grid-area: 1 / -2 / -1 / -3;
  }

  slideshow-carousel figure:has([data-images='2']) {
    --figure-grid: auto var(--button-size) / 0 var(--button-size) 1fr 1fr var(--button-size) 0;
  }
}

@media (orientation: landscape) and (width < 800px) {
  slideshow-carousel {
    --figure-grid: auto var(--button-size) / 0 var(--button-size) 1fr 1fr var(--button-size) 0;
  }
}

/* Snappable container and items. */
slideshow-carousel ol {
  scroll-snap-type: x mandatory;
}

slideshow-carousel li {
  scroll-snap-align: start;
}

/* Hide scrollbars of overflow elements. */
slideshow-carousel :is(ol, figcaption) {
  scrollbar-width: none;
}

slideshow-carousel :is(ol, figcaption)::-webkit-scrollbar {
  display: none;
}
