/* Light DOM styles for <carousel-widget> slotted content. */

carousel-widget {
  --figcaption-max-block-size: 50dvh;
  --item-margin-block: 0;
}

@media (orientation: landscape) {
  carousel-widget {
    --figcaption-max-block-size: 100dvh;
    --figcaption-place-self: center;
  }
}

carousel-widget {
  block-size: 100dvh;
}

carousel-widget :is(ol, li) {
  inline-size: 100vw;
}

carousel-widget ol {
  display: grid;
  grid: 1fr / auto-flow;
  margin: 0;  
  overflow: scroll hidden;
  padding: 0;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

carousel-widget ol::-webkit-scrollbar {
  display: none;
}

carousel-widget li {
  scroll-snap-align: start;
}

carousel-widget figcaption {
  max-block-size: var(--figcaption-max-block-size);
  overflow: auto;
  place-self: var(--figcaption-place-self);
  scrollbar-width: none;
}

carousel-widget figcaption::-webkit-scrollbar {
  display: none;
}
