/**
 * Light DOM styles for adding open/close transitions to <details> elements.
 */
details-plus > details { 
  block-size: var(--block-size, var(--summary-block-size));
  overflow: hidden;
  scrollbar-width: none;
  transition: block-size var(--transition) ease-in;
}

details-plus > details::-webkit-scrollbar {
  display: none;
}

details-plus summary::after {
  transition: transform var(--transition);
}

details-plus > [data-closing] > summary::after {
  transform: rotate(45deg);
}
