/**
 * Light DOM styles for adding open/close transitions to <details> elements.
 */
fancy-details > details { 
  block-size: var(--block-size, var(--summary-block-size));
  transition: block-size var(--duration);
}

fancy-details summary::after {
  transition: transform var(--duration);
}

fancy-details > [data-state='closing'] > summary::after {
  transform: rotate(45deg);
}
