{#- JSON response for Powers of Ten intro. -#}
{
  "title": "{{ title }}",
  "tagline": "{{ tagline }}",
  "copy": [
  {%- for blurb in copy %}
    "{{ blurb }}"{% if not loop.last %},{% endif %}
  {%- endfor %}
  ]
}
