/**
 * Global elements.
 */
html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

:where(*) {
  box-sizing: border-box;
}

:is(body, main) {
  min-block-size: 100dvh;
}

body {
  background: var(--background-0);
  color: var(--text-color);
  font: clamp(.875em, .75em + .5vw, 1em) / 1.4 var(--font-family);
  margin: 0;
}

main {
  block-size: var(--main-block-size);
  display: var(--main-display, block);
  grid: var(--main-grid);
  margin-inline: auto;
  max-inline-size: var(--main-max-inline-size, 80rem);
  padding: var(--main-padding, var(--gap));
}

/**
 * Lists.
 */
ul,
ol {
  display: var(--list-display, block);
  gap: var(--list-gap);
  grid: var(--list-grid);
  inline-size: var(--list-inline-size);
  list-style: var(--list-style);
  margin-block: var(--list-margin-block, revert);
  overflow: var(--list-overflow);
  padding-inline: var(--list-padding-inline);
}

li {
  display: var(--item-display);
  inline-size: var(--item-inline-size);
  margin-block: var(--item-margin-block, revert);
}

/**
 * Media container.
 */
figure {
  background: var(--figure-background);
  border-radius: var(--figure-border-radius);
  box-shadow: var(--figure-box-shadow);
  display: grid;
  gap: var(--figure-gap, var(--gap));
  grid: var(--figure-grid);
  margin-block: var(--figure-margin-block, revert);
  margin-inline: var(--figure-margin-inline);
  overflow: var(--figure-overflow);
  padding-block: var(--figure-padding-block);
  padding-inline: var(--figure-padding-inline);
  place-items: var(--figure-place-items);
}

figcaption {
  display: var(--figcaption-display);
  gap: var(--figcaption-gap);
  grid: var(--figcaption-grid);
  inline-size: var(--figcaption-inline-size);
  margin: 0 auto;
  max-block-size: var(--figcaption-max-block-size);
  max-inline-size: var(--figcaption-max-inline-size);
  overflow: var(--figcaption-overflow);
  padding-block: var(--figcaption-padding-block);
  padding-inline: var(--figcaption-padding-inline);
  place-items: var(--figcaption-place-items);
  place-self: var(--figcaption-place-self);
}

/**
 * Responsive media.
 */
img {
  aspect-ratio: var(--img-aspect-ratio);
  block-size: var(--img-block-size, auto);
  border-radius: var(--img-border-radius);
  display: var(--img-display, initial);
  inline-size: var(--img-inline-size, 100%);
  margin-block: var(--img-margin-block);
  margin-inline: var(--img-margin-inline);
  max-block-size: var(--img-max-block-size);
  max-inline-size: var(--img-max-inline-size);
  object-fit: var(--img-object-fit);
  vertical-align: middle;
}

svg {
  block-size: auto;
  fill: currentColor;
  inline-size: 100%;
}

/**
 * Headings.
 * If vars are undefined, the 'font-size' and 'margin' properties default
 * to 1em and 0 repectively.
 */
h1 {
  font-size: var(--h1-font-size);
  margin: var(--h1-margin);
}

h2 {
  font-size: var(--h2-font-size);
  margin: var(--h2-margin);
}

h3 {
  font-size: var(--h3-font-size);
  margin: var(--h3-margin);
}

/**
 * General links.
 */
a {
  color: var(--link-color);
  font-weight: bold;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:focus,
a:hover {
  color: var(--focus-color);
}

/**
 * Transitions are only appled on devices that support hover.
 */
@media (any-hover: hover) {
  a {
    transition: background-color var(--duration), color var(--duration), opacity var(--duration), transform var(--duration);
  }

  svg {
    transition: fill var(--duration);
  }
}
