/**
 * Links styled as buttons via classname.
 */
.button {
  aspect-ratio: 1;
  background-color: var(--link-background);
  border-radius: var(--button-size);
  display: grid;
  grid: 1fr / 1fr;
  inline-size: var(--button-size);
  place-items: center;
}

.button:is(:focus, :hover) {
  background-color: var(--link-color);
  color: var(--fill-0);
}

.button:active {
  transform: scale(.8);
}

.button svg {
  aspect-ratio: 1;
  inline-size: var(--icon-size);
}
