/**
 * Base styles for <details> elements.
 */
details {
  --summary-block-size: 3em;

  background: var(--fill-1);
  border: var(--border, none);
  border-radius: var(--details-border-radius, var(--border-radius)); 
  margin-block: var(--details-margin-block, var(--gap));
}

/**
 * [1] Default 'display' override hides default marker.
 * [2] Safari needs vendor-prefix selector to hide default marker.
 */
summary {
  align-items: center;
  block-size: var(--summary-block-size);
  cursor: pointer;
  display: flex; /* [1] */
  opacity: var(--text-opacity);
  outline: none;
  padding-inline: 1em 1.25em;
  transition: opacity var(--transition) ease;
}

summary::-webkit-details-marker {
  display: none; /* [2] */
}

summary:is(:focus, :hover) {
  opacity: 1;
}

/**
 * Custom caret to replace default marker.
 */
summary::after {
  aspect-ratio: 1;
  border-block-start: 1px solid currentColor;
  border-inline-end: 1px solid currentColor;
  content: '';
  inline-size: .375em;
  margin-inline: auto 0;
  transform: rotate(45deg);
}

[open] > summary::after {
  transform: rotate(135deg);
}

/**
 * Expandable content.
 */
details > p {
  padding-inline: 1em;
}

summary + * {
  margin-block-start: 0;
}
