/**
 * Error 404 page. Classname is set on the <body> element.
 */
.error-404 {
  --main-display: grid;
  --main-grid: 'heading' 2fr 'subheading' 1fr 'graphic' 'blurb' '.' 1fr / 1fr;
  --main-max-inline-size: none;
  --main-padding: 0;
}

.error-404 h1 {
  font: normal 5em / 1 monospace;
  grid-area: heading;
  place-self: end center;
}

.error-404 h2 {
  font-variation-settings: 'wght' 500;
  grid-area: subheading;
  place-self: start center;
}

.error-404 p {
  font-size: .9em;
  grid-area: blurb;
  margin: 0;
  max-inline-size: 48ch;
  place-self: start center;
  text-align: center;
}

.error-404 pre {
  margin: 0;
  max-inline-size: 100vw;
  overflow: auto;
  place-self: center;
  scrollbar-width: none;
  user-select: none;
}

.error-404 pre::-webkit-scrollbar {
  display: none;
}
