/**
 * Home page. Classname is set on the <body> element.
 */
.home {
  --avatar-size: 8em;
  --main-max-inline-size: 34em;
}

img[src*='selfie'] {
  block-size: var(--avatar-size);
  display: block;
  border-radius: 100%;
  inline-size: var(--avatar-size);
  margin-block: var(--gap);
  margin-inline: auto;
}

.contact {
  --list-display: flex;
  --list-gap: 0 1em;
}