/**
 * Home page. Classname is set on the <body> element.
 */
.home {
  --avatar-size: 8em;
  --main-max-inline-size: 34em;
}

/**
 * About section avatar.
 */
[id='about'] img {
  block-size: var(--avatar-size);
  border-radius: 100%;
  inline-size: var(--avatar-size);
}

[id='about'] p:has(img) {
  margin-block: var(--gap);
  text-align: center;
}

/**
 * Contact section. Classname is set on a <ul> element.
 */
.contact {
  display: flex;
  gap: 0 1em;
  list-style: none;
  padding: 0;
}
