/**
 * Home page. Classname is set on the <body> element.
 */
.home {
  --main-max-inline-size: 34em;
}

img[src*='selfie'] {
  --img-block-size: 8em;
  --img-border-radius: 100%;
  --img-display: block;
  --img-inline-size: 8em;
  --img-margin-block: var(--gap);
  --img-margin-inline: auto;
}

.contact {
  --list-display: flex;
  --list-gap: 0 1em;
  --list-margin-block: var(--gap);
}