/**
 * Home page projects section. Classname is set on a <ul> element.
 */
.projects {
  /* Container for all projects. */
  --list-display: block;
  --list-margin-block: 0 .5em;

  /* Project. */
  --figure-grid: 'image copy' / 4em 1fr;
  --figure-padding-inline: var(--gap) 0;
  --figure-place-items: center;

  /* Project thumbnail. */
  --img-aspect-ratio: 1;
  --img-border-radius: .25em;

  /* Project blurb and links. */
  --figcaption-display: grid;
  --figcaption-gap: 0 var(--gap);
  --figcaption-grid: 'heading repo' 1fr 'blurb repo' 2.8em / 1fr var(--icon-size);
  --figcaption-grid-area: copy;
  --figcaption-inline-size: 100%;
  --figcaption-padding-block: .875em;
  --figcaption-padding-inline: 0 .75em;
  --figcaption-place-items: center start;
}

.projects h3 {
  border-block-end: .5px solid var(--rule-color);
  font-size: var(--font-size-small);
  font-weight: normal;
  letter-spacing: .25em;
  margin-inline: var(--gap) 0;
  opacity: var(--text-opacity);
  padding-block: .75em;
  padding-inline: 0 var(--gap);
  text-transform: uppercase;
}

.projects img {
  grid-area: image;
}

.projects figcaption {
  font-size: var(--font-size-small);
}

.projects li:not(:first-child) figcaption {
  border-block-start: .5px solid var(--rule-color);
}

.projects h4 {
  grid-area: heading;
}

.projects p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  grid-area: blurb;
  -webkit-line-clamp: 2;
  margin: 0;
  overflow: hidden;
  place-self: start;
}

/**
 * Icon link for GitHub repos.
 */
.repo {
  grid-area: repo;
  opacity: .5;
}

.repo:is(:link, :visited, :focus, :hover) {
  color: var(--text-color);
}

.repo:is(:focus, :hover) {
  opacity: 1;
}
