/**
 * Home page projects section.
 * Classname is set on list element.
 */
.projects {
  /* Container for all projects. */
  --list-display: block;
  --list-margin-block: 0 .5em;

  /* Project. */
  --figure-grid: 'image copy' / 4em 1fr;
  --figure-padding-inline: var(--gap) 0;
  --figure-place-items: center;

  /* Project thumbnail. */
  --img-aspect-ratio: 1;
  --img-border-radius: .25em;
  --img-margin-block: .5em;

  /* Project blurb and links. */
  --figcaption-display: grid;
  --figcaption-gap: 0 var(--gap);
  --figcaption-grid: 'heading' 'blurb' / 1fr;
  --figcaption-grid-area: copy;
  --figcaption-inline-size: 100%;
  --figcaption-padding-block: .75em;
  --figcaption-padding-inline: 0 1.5em;
  --figcaption-place-items: center start;
  --figcaption-place-self: stretch;
}

.projects:has(.repo) {
  --figcaption-grid: 'heading repo' 'blurb repo' / 1fr var(--icon-size);
  --figcaption-padding-inline: 0 .75em;
}

details:has(.projects) {
  --details-border-radius: 0;
  --details-margin-block: 2px;
}

details:has(.projects):nth-child(2) {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

details:has(.projects):nth-child(4) {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.projects img {
  grid-area: image;
}

.projects figcaption {
  border-block-start: .5px solid var(--rule-color);
}

.projects h3 {
  grid-area: heading;
  place-self: end start;
}

.projects p {
  font-size: var(--font-size-small);
  grid-area: blurb;
  margin: 0;
  place-self: start;
}

/**
 * Icon link for GitHub repos.
 */
.repo {
  grid-area: repo;
  opacity: .5;
}

.repo:is(:link, :visited, :focus, :hover) {
  color: var(--text-color);
}

.repo:is(:focus, :hover) {
  opacity: 1;
}
