/**
 * Home page projects section. Classname is set on a <ul> element.
 */
.projects {
  list-style: none;
  margin-block-end: .25em;
  padding: 0;

  --figure-gap: 0 1em;
  --figure-grid: 'img copy' / 4em 1fr;
  --figure-padding-inline: 1em 0;
  --figure-place-items: center;
}

.projects img {
  aspect-ratio: 1;
  border-radius: .25em;
  grid-area: img;
  margin-block: .5em;
}

.projects figcaption {
  align-items: center;
  border-block-start: .5px solid var(--rule-color);
  display: grid;
  font-size: var(--font-size-small);
  gap: 0 1em;
  grid: 'heading repo' 'blurb repo' / 1fr var(--icon-size);
  grid-area: copy;
  inline-size: 100%;
  padding-block: 1em;
  padding-inline: 0 .75em;
}

.projects h3 {
  grid-area: heading;
}

.projects p {
  grid-area: blurb;
  margin: 0;
}

/**
 * Icon link for GitHub repos.
 */
.repo {
  grid-area: repo;
  opacity: .5;
}

.repo:is(:link, :visited, :focus, :hover) {
  color: var(--text-color);
}

.repo:is(:focus, :hover) {
  opacity: 1;
}
