/**
 * Individual slideshow. Classname is set on the <body> element.
 */
.slideshow {
  --figcaption-max-inline-size: 36em;
  --figcaption-padding-block: 0;
  --figcaption-padding-inline: var(--gap);
  --figure-grid: 'images' 'copy' / 1fr;
  --figure-margin-block: 0;
  --images-inline-size: 50%;
  --img-max-block-size: min(800px, 100vw);
  --img-object-fit: contain;
  --item-display: grid;
  --item-margin-block: 10vh;
  --list-padding-inline: 0;
  --list-style: none;
  --main-max-inline-size: none;
  --main-padding: 0;
}

@media (orientation: landscape) {
  .slideshow {
    --figcaption-padding-inline: 0;
    --figcaption-place-self: center start;
    --figure-grid: 'copy images' / 1fr 1fr;
    --figure-padding-inline: var(--gap);
    --images-inline-size: 75%;
    --img-max-block-size: 95vh;
    --img-max-inline-size: 100vh;
  }
}

@media (orientation: landscape) and (width < 800px) {
  :root {
    --body-font: .75em / 1.4 var(--font-family);
  }
}

[data-images] {
  grid-area: images;
}

.slideshow figcaption {
  grid-area: copy;
}

/**
 * Container <div> for better layout control if there are multiple images.
 */
[data-images] {
  display: grid;
  gap: var(--gap);
  grid: auto-flow / 1fr;
  place-items: center;
}

[data-images='2'] {
  inline-size: var(--images-inline-size);
  place-self: center;
}

/**
 * Slide metadata.
 */
.slideshow dl {
  display: grid;
  font-size: var(--font-size-small);
  gap: 0 .5em;
  grid: auto-flow / auto 1fr;
  margin-block: 1em;
  opacity: var(--text-opacity);
}

.slideshow dt::after {
  content: ':';
}

.slideshow dd {
  margin: 0;
}
