/**
 * Individual slideshow. CLassname is set on the <body> element.
 */
.slideshow {
  --figcaption-max-inline-size: 36em;
  --figcaption-padding-block: var(--gap) var(--button-size);
  --figcaption-padding-inline: var(--gap);
  --figure-grid: 'images' 'copy' / 1fr;
  --img-max-block-size: min(800px, 100vw);
  --item-display: block;
  --item-margin-block: 10vh;
  --list-padding-inline: 0;
  --list-style: none;
  --main-max-inline-size: none;
  --main-padding: 0;
}

@media (orientation: landscape) {
  .slideshow {
    --figcaption-padding-inline: 0;
    --figure-grid: '. images copy .' / var(--button-size) 2fr 1fr var(--button-size);
    --img-max-block-size: 100dvh;
    --img-max-inline-size: 100vh;
    --item-display: grid;
  }
}

.slideshow figcaption {
  grid-area: copy;
}

/**
 * Images.
 */
[data-images] {
  display: grid;
  gap: var(--gap);
  grid: auto-flow / 1fr;
  grid-area: images;
  place-items: center;
}

[data-images='2'] {
  inline-size: 50%;
  place-self: center;
}

.slideshow img {
  max-block-size: var(--img-max-block-size);
  max-inline-size: var(--img-max-inline-size);
  object-fit: contain;
}

/**
 * Media metadata.
 */
.slideshow dl {
  display: grid;
  font-size: .9em;
  gap: 0 .5em;
  grid: auto-flow / auto 1fr;
  margin-block: 1em;
  opacity: var(--text-opacity);
}

.slideshow dt::after {
  content: ':';
}

.slideshow dd {
  margin: 0;
}
