/**
 * Slideshows landing page with links to individual slideshows. Classname is
 * set on the <body> element.
 */
.slideshows {
  /* Site-wide <main> element. */
  --main-display: grid;
  --main-grid: auto-flow / 1fr;
  --main-max-inline-size: 34em;

  /* Slideshow. */
  --figure-background: var(--fill-1);
  --figure-border-radius: var(--border-radius);
  --figure-grid: 'image blurb .' var(--figure-size) / var(--figure-size) 1fr 0;
  --figure-margin-block: 0;
  --figure-overflow: hidden;
  --figure-place-items: center;
  --figure-size: 10em;

  /* Slideshow blurb. */
  --figcaption-grid-area: blurb;
  --figcaption-place-self: center start;
  
  /* Slideshow thumbnail. */
  --img-aspect-ratio: 1;
  --img-object-fit: cover;
}

.slideshows figure > a {
  grid-area: image;
}

.slideshows p {
  font-size: var(--font-size-small);
  margin: 0;
  opacity: var(--text-opacity);
}
