/**
 * Individual slideshow. Classname is set on the <body> element.
 */
.slideshow {
  /* Site-wide <main> element. */
  --main-max-inline-size: none;
  --main-padding: 0;

  /* Container item. */
  --item-display: grid;
  --item-margin-block: 10vh;

  /* Slide. */
  --figure-grid: auto auto / 1fr;

  /* Slide images. */
  --images-gap: .8vw;
  --images-grid-area: 1 / 1;
  --img-max-block-size: min(800px, 100vw);
  --img-object-fit: contain;

  /* Slide copy. */
  --figcaption-grid-area: 2 / 1;
  --figcaption-max-inline-size: 36em;
  --figcaption-padding-inline: var(--gap);
}

@media (orientation: landscape) {
  .slideshow {
    /* Slide. */
    --figure-grid: 1fr / 1fr 2fr;
    
    /* Slide images. */
    --images-grid-area: 1 / 2;
    --img-max-block-size: 95vh;
    
    /* Slide copy. */
    --figcaption-grid-area: 1 / 1;
    --figcaption-padding-inline: 0;
    --figcaption-place-self: center start;
  }
}

/**
 * Small devices in landscaoe orientation get smaller type for visual balance.
 */
@media (orientation: landscape) and (width < 840px) and (height < 480px) {
  :root {
    --font: .875em / 1.4 var(--font-family);
  }
}

/**
 * Slide images wrapper.
 */
[data-images] {
  display: grid;
  gap: var(--images-gap, var(--gap));
  grid: auto-flow / 1fr;
  grid-area: var(--images-grid-area);
  place-items: center;
  place-self: center;
}

[data-images='2-column'] {
  grid: auto-flow / repeat(2, 1fr);
}

[data-images='3-column'] {
  grid: auto-flow / repeat(3, 1fr);
}

/**
 * Slide copy.
 */
.slideshow figcaption {
  font-size: var(--font-size-small);
  grid-area: var(--figcaption-grid-area);
}

/**
 * Slide metadata.
 */
.slideshow dl {
  display: grid;
  font-size: var(--font-size-small);
  gap: 0 .5em;
  grid: auto-flow / auto 1fr;
  margin-block: 1em;
  opacity: var(--text-opacity);
}

.slideshow dt::after {
  content: ':';
}

.slideshow dd {
  margin: 0;
}
