/* Global vars for layout, typography, theming. */

:root {
  /* Layout and typography; native default overrides. */
  --button-size: max(44px, 3em);
  --border-radius: .5em;
  --duration: .25s;
  --figure-display: grid;
  --font: clamp(.875em, .75em + .5vw, 1em) / 1.4 var(--font-family);
  --font-family: 'Avenir Variable', sans-serif;
  --font-size-small: .9em;
  --gap: 1em;
  --icon-size: max(24px, 1.75em);
  --img-vertical-align: middle;
  --text-opacity: .75;

  /* Theming. */
  --background-0: GhostWhite;
  --background-1: white;
  --button-background: white;
  --focus-color: OrangeRed;
  --link-background: rgba(30, 144, 255, .2);  /* DodgerBlue */
  --link-color: DodgerBlue;
  --rule-color: rgba(0, 0, 0, .2);
  --text-color: black;
  --visited-color: RebeccaPurple;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode theming. */
    --background-0: black;
    --background-1: rgb(34, 34, 34);
    --button-background: rgba(255, 255, 255, .2);
    --focus-color: DarkOrange;
    --link-background: rgba(100, 149, 237, .2);  /* CornflowerBlue */
    --link-color: CornflowerBlue;
    --rule-color: rgba(255, 255, 255, .2);
    --text-color: Gainsboro;
    --visited-color: MediumPurple;
  }
}
