<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="{{ "/css/styles.css" | rev }}">
  </head>
  <body class="{{ view }}">
    <main>
      {{ content | safe }}
    </main>
    <my-tools accordion animated links></my-tools>
  </body>

  <script>
    class Tools extends HTMLElement {
      connectedCallback() {
        this.#externalLinks();
        this.#fancyDetails();
      }

      #externalLinks() {
        if (!this.hasAttribute('links')) {
          return;
        }

        const home = new URL(window.location);
        const links = document.querySelectorAll('a');

        for (const link of links) {
          const {hostname, protocol} = new URL(link.href);
          if (protocol === 'https:' && hostname !== home.hostname) {
            link.setAttribute('target', '_blank');
            link.setAttribute('rel', 'noopener');
          }
        }
      }

      #fancyDetails() {
        if (!this.hasAttribute('animated')) {
          return;
        }

        const details = document.querySelectorAll('details');
        if (!details.length) {
          return;
        }

        for (const detail of details) {
          detail.setAttribute('data-animated', '');
        }

        // Update CSS vars and HTML attributes on click for animated and/or
        // accordion UX.
        const update = (e) => {
          if (e.target.tagName.toLowerCase() !== 'summary') {
            return;
          }

          const prop = '--details-size';

          // Set block-size for transitions.
          const parent = e.target.closest('details');
          requestAnimationFrame(() => {
            parent.style.setProperty(prop, `${parent.scrollHeight}px`);
            if (!parent.hasAttribute('open')) {
              parent.style.removeProperty(prop);
            }
          });

          // Ensure only one element is open at at time.
          if (this.hasAttribute('accordion')) {
            for (const detail of details) {
              if (detail !== parent) {
                detail.removeAttribute('open');
                detail.style.removeProperty(prop);
              }
            }
          }
        }

        document.body.addEventListener('click', (e) => update(e));
      }
    }
    
    customElements.define('my-tools', Tools);
  </script>
</html>
