{#- JSON response for a single slide. -#}
{
  "title": "{{ title }}",
  "copy": "{{ content | safe | trim | replace("\n", "") -}}",
  "media": {
    {%- if images %}
    "images": [
    {%- for image in images %}
      "{{- image }}"{%- if not loop.last %},{% endif -%}
    {%- endfor %}
    ]
    {%- endif -%}
    {% if images and publication %},{% endif %}
    {%- if publication %}
    "publication": {
      "publisher": "{{ publication.publisher }}",
      "date": "{{ publication.date }}",
      "image": "{{ publication.image }}"
      {%- if publication.file or publication.url %},{% endif %}
      {% if publication.file -%}
      "file": "{{ publication.file }}"
      {%- elseif publication.url -%}
      "url": "{{ publication.url }}"
      {%- endif %}
    }
    {%- endif %}
  }
}