{#- JSON response for all slides within a slideshow. -#}
{
  "title": "{{ title }}",
  "description": "{{ content | safe | trim | replace("\n", "") -}}",
  "image": "{{ image }}",
  "slug": "{{ slug }}",
  "slides": [
  {%- for item in collections[slug] %}
    {
      "title": "{{ item.data.title }}",
      "slug": "{{ item.data.slug }}"
    }
  {%- if not loop.last%},{% endif %}
  {%- endfor %}
  ]
}
