---
layout: base
---
{%- set domain = 'https://assets.gauslin.com' -%}
{%- set imagePath = '/images/slides/' -%}

{%- macro renderImage(image, slug, loading) %}
  {%- set imageUrl = domain + imagePath + slug + '/' + image.src %}
  {%- set small = imageUrl + '@small.webp 600w' %}
  {%- set medium = imageUrl + '@medium.webp 900w' %}
  {%- set large = imageUrl + '@large.webp 1200w' %}
  {%- set sizes = '(min-width: 1440px) 900px, 100vw' %}
  {%- set orientation = 'landscape' if image.height < image.width else 'portrait' %}
  <img
    alt=""
    data-orientation="{{ orientation }}"
    loading="{{ loading }}"
    src="{{ medium }}"
    srcset="{{ small }}, {{ medium }}, {{ large }}"
    sizes="{{ sizes }}"
    {%- if image.width %} width="{{ image.width }}"{% endif %}
    {%- if image.height %} height="{{ image.height }}"{% endif %}>
{%- endmacro -%}

<slideshow-carousel>
  <ol>
  {% for item in collections[slug] -%}
    <li id="{{ item.data.slug }}">
      <figure>
        <div data-images="{{ item.data.images | length }}">
        {%- set loading = 'eager' if loop.first else 'lazy' %}
        {% for image in item.data.images -%}
          {{ renderImage(image, slug, loading) }}
        {%- endfor %}
        </div>
    
        <figcaption>
          <h2>{{ item.data.title }}</h2>
          {{ item.data.content | safe }}
          
          {%- if item.data.media and item.data.size %}
          <dl>
            <dt>Media</dt>
            <dd>{{ item.data.media }}</dd>
            <dt>Size</dt>
            <dd>{{ item.data.size }}</dd>
          </dl>
          {%- endif %}
        </figcaption>
      </figure>    
    </li>
  {%- endfor %}
  </ol>
</slideshow-carousel>

{{ content | safe }}
