---
layout: base
---
{% for item in collections.slides -%}
  {% set heading = item.data.title | safe %}
  {% set linkTitle = 'View slideshow for ' + heading %}
  {% set imageUrl = 'https://assets.gauslin.com/images/slides2023/' + item.data.slug + '/' + item.data.image + '@small.webp' %}

  <figure>
    <a href="/{{ item.data.permalink }}" title="{{ linkTitle }}">
      <img src="{{ imageUrl }}" alt="">
    </a>
    <figcaption> 
      <h2>
        <a href="/{{ item.data.permalink }}" title="{{ linkTitle }}">{{ heading }}</a>
      </h2>
      {{ item.data.content | safe -}}
    <figcaption>
  </figure>
{% endfor %}
