---
layout: base
---
{# TODO: Fine-tune and refactor responsive image sizes for portrait vs. landscape. #}
{%- macro renderImage(image, slug, loading) %}
  {%- set path = '/images/' + slug + '/' + image.src %}
  {%- set orientation = 'landscape' if image.height < image.width else 'portrait' %}
  {%- if orientation == 'portrait' -%}
    {%- set small = path + '@small.webp 400w' %}
    {%- set medium = path + '@medium.webp 600w' %}
    {%- set large = path + '@large.webp 900w' %}
    {%- set sizes = '(min-width: 1440px) 600px, 66vw' %}
  {%- else -%}
    {%- set small = path + '@small.webp 600w' %}
    {%- set medium = path + '@medium.webp 900w' %}
    {%- set large = path + '@large.webp 1200w' %}
    {%- set sizes = '(min-width: 1440px) 900px, 100vw' %}
  {%- endif -%}
  {%- set thumb = path + '@thumb.webp' %}
  <img
    alt=""
    data-orientation="{{ orientation }}"
    data-preview="{{ thumb }}"
    loading="{{ loading }}"
    src="{{ medium }}"
    srcset="{{ small }}, {{ medium }}, {{ large }}"
    sizes="{{ sizes }}"
    {%- if image.width %} width="{{ image.width }}"{% endif %}
    {%- if image.height %} height="{{ image.height }}"{% endif %}>
{%- endmacro -%}

<slideshow-carousel>
  <ol role="list">
  {% for item in collections[slug] -%}
    <li id="{{ item.data.slug }}">
      <figure>
        <div data-images{% if item.data.media %}="{{ item.data.media }}"{% endif %}>
        {%- if item.data.media == 'before-after' -%}
          <before-after>
        {%- endif -%}
        {%- set loading = 'eager' if loop.first else 'lazy' %}
        {% for image in item.data.images -%}
          {{ renderImage(image, slug, loading) }}
        {%- endfor %}
        {%- if item.data.media == 'before-after' -%}
          </before-after>
        {%- endif -%}
        </div>
        <figcaption>
          <h2>{{ item.data.title }}</h2>
          
          {%- if item.data.content -%}
          {{ item.data.content | safe }}
          {%- endif -%}
          
          {%- if item.data.media and item.data.size %}
          <dl>
            <dt>Media</dt>
            <dd>{{ item.data.media }}</dd>
            <dt>Size</dt>
            <dd>{{ item.data.size }}</dd>
          </dl>
          {%- endif %}

          {%- if item.data.message %}
            <p class="message"><small>{{ item.data.message | safe }}</small></p>
          {%- endif %}
        </figcaption>
      </figure>    
    </li>
  {%- endfor %}
  </ol>
</slideshow-carousel>

{{ content | safe }}
