---
layout: base
---
{%- set domain = 'https://assets.gauslin.com' -%}
{%- set imagePath = '/images/slides2023/' -%}

{%- macro renderImage(image, slug) %}
  {%- set imageUrl = domain + imagePath + '/' + slug + '/' + image.src %}
  {%- set small = imageUrl + '@small.webp' %}
  {%- set medium = imageUrl + '@medium.webp' %}
  {%- set large = imageUrl + '@large.webp' %}
  <img
    alt=""
    loading="lazy"
    src="{{ medium }}"
    srcset="{{ small }} 600w, {{ medium }} 900w, {{ large }} 1200w"
    sizes="(min-width: 1440px) 900px, 100vw">
{%- endmacro -%}

<header>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</header>

<div role="list">
{%- for item in collections[slug] %}  
  <figure role="listitem">
    <div data-images="{{ item.data.images | length }}">
    {% for image in item.data.images %}
      {{ renderImage(image, slug) }}
    {% endfor %}
    </div>

    <figcaption>
      <h2>{{ item.data.title }}</h2>
      {{ item.data.content | safe }}
      <small aria-hidden="true">{{ loop.index }} of {{ collections[slug] | length }}</small>
    </figcaption>
  </figure>
{%- endfor %}
</div>
