{#- JSON response for all Powers Of Ten content. -#}
{
  "intro": {
    "title": "{{ title }}",
    "tagline": "{{ tagline }}",
    "copy": "{{ content | safe | trim | replace("\n", "") -}}"
  },
  "scenes": [
  {%- for scene in collections.ten %}
    {
      "power": "{{ scene.data.power }}",
      "distance": [
      {%- for value in scene.data.distance %}
        "{{ value }}"{% if not loop.last %},{% endif %}
      {%- endfor %}
      ],
      "blurb": "{{ scene.data.content | safe | trim | replace("\n", "") -}}",
      "image": "{{ scene.data.image }}"
    }
  {%- if not loop.last%},{% endif %}
  {%- endfor %}
  ]
}
