---
layout: base
---
<h1>{{ title }}</h1>
{% for item in collections.slideshow -%}
  {%- set heading = item.data.title | safe %}
  {%- set linkTitle = 'View slideshow for ' + heading %}
  {%- set imagePath = '/images/' + item.data.slug + '/' + item.data.image.src + '@small.webp' %}
  {%- set imageWidth = item.data.image.width %}
  {%- set imageHeight = item.data.image.height %}
  {%- set permalink = item.data.permalink | replace('.html', '') %}
  <figure>
    <a href="/{{ permalink }}" title="{{ linkTitle }}" tabindex="-1">
      <img alt="" src="{{ imagePath }}" width="{{ imageWidth }}" height="{{ imageHeight }}">
    </a>
    <figcaption> 
      <h2>
        <a href="/{{ permalink }}" title="{{ linkTitle }}">{{ heading }}</a>
      </h2>
      <p>{{ item.data.description }}</p>
    </figcaption>
  </figure>
{%- endfor %}
