// --------------------------------------------------
// Links styled as buttons via class.

.button {
  aspect-ratio: 1;
  background-color: var(--link-background);
  border-radius: 100%;
  display: grid;
  grid: 1fr / 1fr;
  inline-size: max(44px, 3em);
  place-items: center;

  &:is(:focus, :hover) {
    background-color: var(--link-color);
    color: var(--background-0);
  }

  &:active {
    transform: scale(.8);
  }

  svg {
    aspect-ratio: 1;
    inline-size: max(24px, 1.75em);
  }
}
