// --------------------------------------------------
// Expandables.

details {
  --summary-height: 3em;
  background: var(--background-1);
  border-radius: .5em;
  box-shadow: var(--shadow-1);
  margin-block: 1.5em;
  overflow: auto;
}

// Styles scoped to className set by JS for animated UX.
fancy-details > details { 
  block-size: var(--height, var(--summary-height));
  transition: block-size var(--duration);
}

// --------------------------------------------------
// Expandable labels/toggles.

summary {
  align-items: center;
  block-size: var(--summary-height);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  opacity: .75;
  outline: none;
  transition: opacity var(--duration);
}

summary:is(:focus, :hover) {
  opacity: 1;
}

// Caret to replace default arrow.
summary::after {
  aspect-ratio: 1;
  border-block-start: 1px solid currentColor;
  border-inline-end: 1px solid currentColor;
  content: '';
  inline-size: .375em;
  margin-inline: auto 0;
  transform: rotate(45deg);
}

[open] > summary::after {
  transform: rotate(135deg);
}

// Safari needs vendor-prefix selector.
summary::-webkit-details-marker {
  display: none;
}

// Expandable content.
summary + * {
  margin-block-start: 0;
}

details > * {
  padding-inline: 1em;
}
