.error > :not(pre) {
  text-align: center;
}

.error h1 {
  font-size: 5em;
  line-height: 1;
  overflow: hidden;
}

pre {
  color: var(--color-text-variant);
  font-size: clamp(.3125rem, .3125rem + 1vw, 1.25em);
  grid-column: 1 / -1;
  max-inline-size: 100vw;
  overflow: scroll hidden;
  scrollbar-width: none;
  text-align: left;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
