[data-view='error-404'] {
  --h1-font-size: 6em;

  :is(h1, p) {
    text-align: center;
  }

  p {
    margin-inline: 2em;
  }

  pre {
    font-size: clamp(.3125rem, .3125rem + 1vw, 1.25em);
    margin: 0;
    max-inline-size: 100vw;
    opacity: .7;
    overflow: scroll hidden;
    scrollbar-width: none;
    user-select: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
