// Fancy list styles set in light DOM.
fancy-list {
  block-size: 100dvh;
}

fancy-list :is(ol, li) {
  inline-size: 100vw;
}

fancy-list ol {
  display: grid;
  grid: 1fr / auto-flow;
  margin: 0;  
  overflow: scroll hidden;
  padding: 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

fancy-list li {
  scroll-snap-align: start;
}
