// Fancy list styles set in light DOM.
.slides fancy-list {
  :is(ol, li) {
    display: grid;
    inline-size: 100vw;
  }

  ol {
    grid: 1fr / auto-flow;
    overflow: scroll hidden;
    margin: 0;
    padding: 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  ol::-webkit-scrollbar {
    display: none;
  }

  li {
    scroll-snap-align: start;
    user-select: none;
  }
}
