:root {
  --body-background: GhostWhite;
  --focus-color: DeepPink;
  --link-color: DodgerBlue;
  --text-color: black;
  --visited-color: RebeccaPurple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: black;
    --focus-color: HotPink;
    --link-color: CornflowerBlue;
    --text-color: Gainsboro;
    --visited-color: MediumPurple;
  }
}

:where(*) {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--body-background);
  color: var(--text-color);
  display: grid;
  font: clamp(.75em, .75em + 1vw, 1.25em) / 1.5 monospace;
  grid: auto 1fr / 1fr;
  margin: 0;
  min-block-size: 100dvh;
}

:link {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

:visited {
  color: var(--visited-color);
}

:focus {
  color: var(--focus-color);
  outline: none;
}

:where(a, summary):hover {
  color: var(--focus-color);
}

@media (any-hover: hover) {
  :where(a, summary) {
    transition: color .3s;
  }
}

:where(main, pre) {
  margin-inline: auto;
}

main {
  backdrop-filter: blur(2px);
  border-radius: 1em;
  inline-size: 100%;
  margin-block: 1em;
  max-inline-size: 40em;
  padding: 2em;
  z-index: 1;
}

h1 {
  font-size: 1em;
  margin: 0;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin-block: 1em 0;
  margin-inline: -1em 0;
}

:where(ul, ol) {
  padding-inline: 1em 0;
}

li {
  margin-block: 1em;
}

pre {
  font-size: clamp(.5em, .5em + 1vw, 2em);
  max-inline-size: 100vw;
  opacity: .75;
  overflow: auto;
  place-self: end;
  scrollbar-width: none;
  user-select: none;
}

pre::-webkit-scrollbar {
  display: none;
}
