// Expandables.
details {
  background: var(--background-1);
  border-radius: .5em;
  box-shadow: var(--shadow-1);
  margin-block: 1.5em;
}

// [1]: 1px forces hidden height to equal scrollHeight; last element's margin
// breaks out of container otherwise.
details[open] {
  padding-block: 0 1px;  // [1]
}

// Styles scoped to className set by JS for animated UX.
$summary-height: 3em;

details.fancy {
  block-size: var(--height, $summary-height);
  overflow: hidden;
  transition: block-size var(--duration);
}

// Expandable labels/toggles.
summary {
  align-items: center;
  block-size: $summary-height;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  opacity: .75;
  outline: none;
  // padding-block: .75em;
  transition: opacity var(--duration);
}

summary:is(:focus, :hover) {
  opacity: 1;
}

// Caret to replace default arrow.
summary::after {
  aspect-ratio: 1;
  border-block-start: 3px solid currentColor;
  border-inline-end: 3px solid currentColor;
  content: '';
  inline-size: .5em;
  margin-inline: auto 0;
  transform: rotate(45deg);
}

[open] > summary::after {
  transform: rotate(135deg);
}

details.fancy > summary::after {
  transition: transform var(--duration);
}

// Safari needs vendor-prefix selector.
summary::-webkit-details-marker {
  display: none;
}

// Expandable content.
summary + * {
  margin-block-start: 0;
}

details > * {
  padding-inline: 1em;
}

details > ul {
  list-style: none;
  padding-inline: 0;
}

details li {
  align-items: center;
  display: flex;
  gap: 0 1em;
  margin-block: 1em;
  padding-inline: 1em;
}

details img {
  aspect-ratio: 1;
  border-radius: .25em;
  inline-size: 4em;
  object-fit: cover;
}
