:root {
  --background-0: GhostWhite;
  --background-1: white;
  --background-theme: #{rgba(DodgerBlue, .2)};
  --duration: .3s;
  --focus-color: OrangeRed;
  --link-color: DodgerBlue;
  --shadow-1: #{rgba(black, 0.15)} 0 0 4px;
  --text-color: Black;
  --visited-color: RebeccaPurple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-0: Black;
    --background-1: #{rgba(white, .1)};
    --background-theme: #{rgba(CornflowerBlue, .2)};
    --focus-color: DarkOrange;
    --link-color: CornflowerBlue;
    --shadow-1: #{rgba(white, .15)} 0 0 0 1px;
    --text-color: Gainsboro;
    --visited-color: MediumPurple;
  }
}

// Layouts.
.home {
  --main-max-inline-size: 34em;
}

// Global elements.
html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

:where(*) {
  box-sizing: border-box;
}

body {
  background: var(--background-0);
  color: var(--text-color);
  font: clamp(.875em, .5em + 1vw, 2em) / 1.5 system-ui, sans-serif;
  margin: 0;
  min-block-size: 100dvh;
}

main {
  margin-inline: auto;
  max-inline-size: var(--main-max-inline-size, 80rem);
  padding: var(--main-padding, 1.5em);
}

// Headings.
:is(h1, h2, h3) {
  font-size: 1em;
  margin: 0;
}

h1 + p {
  margin-block-start: 0;
}

// Remove default outline.
:where(a, summary) {
  outline: none;
}

// Expandable sections.
details {
  background: var(--background-1);
  border-radius: .5em;
  box-shadow: var(--shadow-1);
  box-sizing: content-box;
  margin-block: 1.5em;
}

// [1]: 1px forces hidden height to equal scrollHeight; last element's margin
// breaks out of container otherwise.
details[open] {
  padding-block: 0 1px; // [1]]
}

// Scoped styles for animated UX.
details.fancy {
  block-size: var(--block-size, 2.5em);
  overflow: hidden;
  transition: block-size var(--duration);
}

summary {
  cursor: pointer;
  font-weight: bold;
  opacity: .75;
  padding-block: .5em;
  transition: opacity var(--duration);
}

summary + * {
  margin-block-start: 0;
}

details > * {
  padding-inline: 1em;
}

summary:is(:focus, :hover) {
  opacity: 1;
}

details > ul {
  padding-inline: 2em 1em;
}

li {
  margin-block: 1em;
}

// Generic links.
a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:focus {
  color: var(--focus-color);
}

a:hover {
  color: var(--focus-color);
}

// Links styled as buttons.
.buttons {
  display: flex;
  gap: 0 1em;
  list-style: none;
  padding-block: 0;
  padding-inline: 1em;
}

.buttons li {
  margin: 0;
}

.buttons a {
  aspect-ratio: 1;
  background-color: var(--background-theme);
  border-radius: 100%;
  display: grid;
  grid: 1fr / 1fr;
  inline-size: max(44px, 3em);
  place-items: center;
}

.buttons a:is(:focus, :hover) {
  background-color: var(--link-color);
  color: var(--background-0);
}

.buttons a:active {
  transform: scale(.8);
}

.buttons svg {
  aspect-ratio: 1;
  fill: currentColor;
  inline-size: max(24px, 1.75em);
}

// Only apply transitions on devices that support hover.
@media (any-hover: hover) {
  a {
    transition: background-color var(--duration), color var(--duration), transform var(--duration);
  }

  svg {
    transition: fill var(--duration);
  }
}