@use 'const';

@font-face {
  font-family: 'Avenir Variable';
  font-weight: 1 999;
  src: url('https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2') format('woff2');
}

// Global custom properties for theming.
:root {
  --body-grid: 1fr / 1fr;
  --body-place-content: center;

  --color-theme: #{const.$blue};
  --color-surface: white;
  --color-surface-1: #{const.$gray6};
  --color-text: #{const.$gray6-dark};
  --color-text-variant: #{const.$gray};

  @media (prefers-color-scheme: dark) {
    --color-theme: #{const.$blue-dark};
    --color-surface: black;
    --color-surface-1: #{const.$gray6-dark};
    --color-text: #{const.$gray4};
    --color-text-variant: #{const.$gray2-dark};
  }
}

// Environment elements.
* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-surface);
  color: var(--color-text);

  font-family: 'Avenir Variable', sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: clamp(.75em, .75em + .33vw, 1.25em); // Master font-size.

  display: grid;
  gap: var(--body-gap);
  grid: var(--body-grid);
  place-items: var(--body-place-content);

  margin: 0;
  min-block-size: 100dvh;
  padding: 0 0 env(safe-area-inset-bottom);
  text-rendering: optimizeSpeed;
  touch-action: manipulation;
}

main {
  margin-inline: auto;
  max-inline-size: var(--main-max-inline-size);
  padding-block: var(--main-padding-block);
}

// Media elements.
:where(img, picture, svg) {
  display: block;
  max-inline-size: 100%;
}

figure {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  img:not([src*='.svg']) {
    filter: grayscale(25%);
  }
}

// Basic typography.
p {
  line-height: 1.5;
}

// Links.
a {
  border-radius: .25em;
  color: var(--color-theme);
  display: inline-block;
  font-variation-settings: 'wght' 600;
  margin-inline: -.25em;
  outline: 0; // TODO: Safari/macOS a11y update (?)
  padding-inline: .25em;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-theme); // Replaces outline for a11y.
    color: var(--color-surface-1);
  }
}

@media (any-hover: hover) {
  a {
    transition: background-color .2s, color .2s;
  }
}
