// --------------------------------------------------
// Base layout overrides.

.home {
  --main-max-inline-size: 34em;
}

// --------------------------------------------------
// The 'projects' classname is set on a <ul> element.

.projects {
  list-style: none;
  margin-block: 1em .5em;
  padding: 0;

  figure {
    align-items: center;
    display: grid;
    gap: 0 1em;
    grid: 'img copy' / 4em 1fr;
    margin: 0;
    padding-inline: 1em 0;
  }

  img {
    aspect-ratio: 1;
    border-radius: .25em;
    grid-area: img;
    margin-block: .5em;
  }

  figcaption {
    align-items: center;
    border-block-start: .5px solid var(--rule-color);
    display: grid;
    gap: 0 1em;
    grid: 'info repo' / 1fr max(24px, 1.5em);
    grid-area: copy;
    inline-size: 100%;
    padding-inline: 0 .75em;
  }
}

// --------------------------------------------------
// Icon link for GitHub repos.

.repo {
  grid-area: repo;
  opacity: .5;

  &:is(:link, :visited, :focus, :hover) {
    color: var(--text-color);
  }

  &:is(:focus, :hover) {
    opacity: 1;
  }
}