// Slideshow cover.
.slides header {
  block-size: 100vh;
  display: grid;
  grid: 1fr 1fr / 1fr;
  padding-inline: 1em;
  text-align: center;
}

.slides header > h1 {
  place-self: end center;
}

// Slideshow wrapper.
.slides ol {
  counter-reset: slides;
  display: grid;
  grid: auto-flow / 1fr;
  list-style: none;
  padding: 0;
}

// Slide media and copy.
.slides figure {
  margin: 0;
}

// Slide media.
.slides figure > div {
  gap: 1em;
  display: grid;
  grid: 1fr / auto-flow;
  place-items: center;
}

// Slide copy.
.slides :is(h2, figcaption) {
  margin: 0 auto;
  padding-inline: 1em;
}

.slides h2 {
  font-weight: normal;
  margin-block-end: 1em;
  text-align: center;
}

.slides h2::after {
  content: counter(slides);
  counter-increment: slides;
  margin-inline: .5ch 0;
  opacity: .5;
}

// NOTE: max-width is based on viewport *height*
.slides img {
  max-inline-size: 150vh;
}

// Prevent comically large images with portait orientation by limiting their
// height and inverting default responsive media styles.
img[data-orientation='portrait'] {
  inline-size: auto;
  max-block-size: 100vh;
}

.slides figcaption {
  max-inline-size: 36em;
  padding-block: 0 4em;
}
