// --------------------------------------------------
// All slideshows; content layout overrides.

.slideshows {
  --main-max-inline-size: 32em;
  --main-padding: 0;
}

:where(.slideshows, .slideshow) h2 {
  font-size: 1em;
  margin: 0;
}

:where(.slideshows, .europa) h2 + p {
  margin-block-start: 0;
}

// --------------------------------------------------
// Individual slideshow.

.slideshow {
  --controls-size: 4em;
  --main-max-inline-size: none;
  --main-padding: 0;

  ol {
    list-style: none;
    padding: 0;
  }

  dl {
    display: grid;
    font-size: .8em;
    gap: 0 1em;
    grid: auto-flow / auto 1fr;
    margin-block: 1em;
    opacity: .75;
  }

  dt::after {
    content: ':';
  }

  figcaption {
    max-inline-size: 36em;
  }
}

// --------------------------------------------------
// Images container.

[data-images] {
  display: grid;
  gap: 1em;
  grid: 1fr / auto-flow;
  place-items: center;
}

// --------------------------------------------------
// Prevent comically large images with portait orientation by limiting
// height to viewport width and inverting responsive media styles.

[data-orientation='portrait'] {
  inline-size: auto;
  max-block-size: min(840px, 100vw);

  @media (orientation: landscape) {
    max-block-size: calc(100dvh - var(--controls-size));
  }
}
