// -----------------------------------------------------------------------------
// All slideshows.

.slideshows {
  --main-max-inline-size: 34em;

  figure {
    background: var(--background-1);
    border-radius: var(--border-radius);
    display: grid;
    gap: 0 .5em;
    grid: 'image blurb' / 1fr 3fr;
    margin-block: 1em;
    overflow: hidden;
    place-items: center;
  }

  figure > a {
    grid-area: image;
  }

  img {
    aspect-ratio: 1;
    object-fit: cover;
  }

  p {
    font-size: var(--font-size-small);
    margin: 0;
  }

  figcaption {
    grid-area: blurb;
  }
}

// -----------------------------------------------------------------------------
// Individual slideshow.

.slideshow {
  --main-max-inline-size: none;
  --main-padding: 0;

  ol {
    list-style: none;
    padding: 0;
  }

  dl {
    display: grid;
    font-size: .9em;
    gap: 0 .5em;
    grid: auto-flow / auto 1fr;
    margin-block: 1em;
    opacity: var(--text-opacity);
  }

  dt::after {
    content: ':';
  }

  dd {
    margin: 0;
  }

  figcaption {
    max-inline-size: 36em;
  }
}

// -----------------------------------------------------------------------------
// Content layout overrides for specific slideshows.

.europa h2 + p {
  margin-block-start: 0;
}

// -----------------------------------------------------------------------------
// Images container.

[data-images] {
  display: grid;
  gap: 1em;
  grid: 1fr / auto-flow;
  place-items: center;
}

// -----------------------------------------------------------------------------
// Prevent comically large images with portait orientation by limiting
// height to viewport width and inverting responsive media styles.

[data-orientation='portrait'] {
  inline-size: auto;
  max-block-size: min(840px, 100vw);
}
