pre {
  font-size: clamp(.5em, .5em + 1vw, 1.1em);
  margin-inline: auto;
  max-inline-size: 100vw;
  opacity: .75;
  overflow: auto;
  place-self: end;
  scrollbar-width: none;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}