:root {
  // Global vars.
  --button-size: max(44px, 3em);
  --border-radius: .5em;
  --duration: .25s;
  --font-family: system-ui, sans-serif;
  --font-size-small: .9em;
  --icon-size: max(24px, 1.75em);
  --text-opacity: .75;

  // Theming.
  --background-0: GhostWhite;
  --background-1: white;
  --focus-color: OrangeRed;
  --link-background: #{rgba(DodgerBlue, .2)};
  --link-color: DodgerBlue;
  --rule-color: #{rgba(black, .2)};
  --shadow-1: #{rgba(black, 0.15)} 0 0 4px;
  --text-color: Black;
  --visited-color: RebeccaPurple;
}

@media (prefers-color-scheme: dark) {
  :root {
    // Dark mode theming.
    --background-0: Black;
    --background-1: #{rgba(white, .1)};
    --focus-color: DarkOrange;
    --link-background: #{rgba(CornflowerBlue, .2)};
    --link-color: CornflowerBlue;
    --rule-color: #{rgba(white, .2)};
    --shadow-1: #{rgba(white, .15)} 0 0 0 1px;
    --text-color: Gainsboro;
    --visited-color: MediumPurple;
  }
}
